<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>Fatalic Sounds | {{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">

  <link rel="stylesheet" href="{{ASSET_PATH}}/foundation/normalize.css">
  <link rel="stylesheet" href="{{ASSET_PATH}}/foundation/foundation.css">


  <!--      FONTS         -->
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
  <!--      FONTS         -->


  
  <link rel="stylesheet" href="{{ASSET_PATH}}/foundation/foundation_icons_all/foundation_icons_social/stylesheets/social_foundicons.css">
  <link rel="stylesheet" href="{{ASSET_PATH}}/foundation/iconic stroke/iconic_stroke.css">
  
  
  <link rel="stylesheet" href="{{ASSET_PATH}}/foundation/custom.css"
  
  
  <script src="{{ ASSET_PATH }}/foundation/js/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- <script src="{{ ASSET_PATH }}/js/grayscale.js"></script> -->
  <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
  <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
</head>
<body>
  <!-- <div class="row header">
    <div class="large-3 columns">
      <a href="/"><h1><img src="http://placehold.it/400x100&text=Logo" /></h1></a>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        
      <li><a href="/archive.html" class="button">Archive</a></li>
      <li><a href="/categories.html" class="button">Categories</a></li>
      <li><a href="/tags.html" class="button">Tags</a></li>
      <li><a href="/about.html" class="button">About Us</a></li>
      <li><a href="/contact.html" class="button">Contact Us</a></li>
      </ul>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="text-center large-12 columns header">
      <div class="logo">
        <a href = "/"><h1>Fatalic Sounds</h1></a>
        <h5><em>Pure.Quality.Mixes</em></h5>
      </div>
      <div class="nav">
        {% if page.title == "Blog" %}
          <a href="/pages/mixes.html">Our Mixes</a>
          <a href="/pages/blog.html" id="activelink"> Stuff We Like</a>
          <a href="/pages/contact.html"> Contact</a>
          <a href="/pages/contact.html"> About Us</a>
        {% elsif page.title == "Mixes" %}
          <a href="/pages/mixes.html" id="activelink">Our Mixes</a>
          <a href="/pages/blog.html"> Stuff We Like</a>
          <a href="/pages/contact.html"> Contact</a>
          <a href="/pages/contact.html"> About Us</a>
        {% elsif page.title == "Contact" %}
          <a href="/pages/mixes.html">Our Mixes</a>
          <a href="/pages/blog.html"> Stuff We Like</a>
          <a href="/pages/contact.html"  id="activelink"> Contact</a>
          <a href="/pages/contact.html"> About Us</a>
        {% else %}
          <a href="/pages/mixes.html">Our Mixes</a>
          <a href="/pages/blog.html"> Stuff We Like</a>
          <a href="/pages/contact.html" > Contact</a>
          <a href="/pages/contact.html"> About Us</a>
        {% endif %}
      </div>
    </div>
  </div> -->
  <!-- <div class = "img">
      <img src="{{ASSET_PATH}}/foundation/img/header.jpg" alt="">
  </div> -->
  <nav class="top-bar">
    <ul class="title-area">
        <li class="name">
          <h1><a href="/">Fatalic Sounds!</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>      
      <section class="top-bar-section">
        <ul class="right navbar">
          <li class="divider hide-for-small"></li>
          <li>
            <a href="/pages/blog2.html">Blog</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/pages/mixes.html">Mixes</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/">About Us</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/pages/contact.html">Contact</a>
          </li>
          <li class="divider"></li>
        </ul>
      </section>
  </nav>

      <nav id = "fixedbar">
        <div id="fixednav" class="text-center">
          <a href="/pages/blog2.html">Blog</a>
          <a href="/pages/mixes.html">Mixes</a>
          <a href="/pages/contact.html">Contact</a>
        </div>
      </nav>
  <div id="container">
    {{ content }}  
  </div>
  
  
<!-- End Header and Nav -->

<!-- Call to Action Panel -->
<!-- <div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div> -->

  <!-- Footer -->
  
      <hr />
      <footer>
        <div class="large-12 columns">
          <div class="social text-center">
            <!-- <span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">...</span>   -->
            <i class="foundicon-twitter"></i>
            <i class="foundicon-instagram"></i>
            <i class="foundicon-facebook"></i>
            <!-- <span data-tooltip class="has-tip" title="Tooltips are awesome, you should totally use them!">...</span>   -->
        </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://foundation.zurb.com" target="_blank">Foundation 4</a>
        </div>
        <!-- <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div> -->
      </div>
    </div> 
  </footer>

  <script>
  document.write('<script src={{ASSET_PATH}}/foundation/js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>

  
  <script src="{{ASSET_PATH}}/foundation/js/foundation.min.js"></script>
  <script src="{{ASSET_PATH}}/foundation/js/foundation/foundation.topbar.js"></script>
  <script src="{{ASSET_PATH}}/foundation/js/foundation/foundation.tooltips.js"></script>
  <script>
    $(document).foundation();
  </script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('#navigation a, #fixedbar a').on('click', function(e) {
      });
      
      if((document).width > 300) {
        $(window).on('scroll',function() {
          var scrolltop = $(this).scrollTop();

          if(scrolltop >= 80) {
            $('#fixedbar').slideDown(250);
          }
          
          else if(scrolltop <= 100) {
            $('#fixedbar').slideUp(100);
          }
        });
      };
    });
  </script>
  <!-- End Footer -->
  {% include JB/analytics %}
</body>
</html>
