<!-- First Band (Slider) -->

  
<div class="row">
  <div class="large-12 columns slideshow">
    <ul data-orbit>
      <li><img src="http://placehold.it/1000x400&text=[ img 1 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 2 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 3 ]" /></li>
      <li><img src="http://placehold.it/1000x400&text=[ img 4 ]" /></li>
    </ul>
  <!-- <div id="slider">
  </div> -->
  </div>
</div>

  <!-- <ul id="featured2" data-orbit>
    <li data-orbit-slide="headline-1">
      <h2>Headline 1</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </li>
    <li data-orbit-slide="headline-2">
      <img src="http://placehold.it/1200x400&text=[ img 3 ]" />
      <h2>Headline 2</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </li>
    <li data-orbit-slide="headline-3">
      <h2>Headline 3</h2>
      <h3>Subheadline</h3>
      <p>Pellentesque habitant morbi tristique senectus.</p>
    </li>
  </ul> -->


  

<!-- Blocks for Posts -->
  <!-- <div class="row">
    <div class="large-12 columns">
      {% for page in site.posts %}
        <div class="post_title"><h2>{{page.title}}</h2></div>
        <div class="post_date"><h6>{{page.date | date_to_string"}}</h6></div>
        <div class="post_description"><p>{{page.description}}</p></div>
        <br>
        <div class="row">
          <div class = "large-12 columns post_details">
            <div class="large-6 columns post_category">
              {% unless page.categories == empty %}
                <div>Category: <ul class="inline-list"><li><a href="#">{{page.categories}}</a></li></ul></div>
              {% endunless %}
            </div>
            <div class="large-6 columns post_tags">
              Tags
              <ul class="inline-list post_tags">
                {% assign tags_list = page.tags %}
                {% include JB/tags_list %}
              </ul>
            </div>
          </div>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]"/>
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div> -->
    